{% extends "../base.html" %}
{% load static %}
{% block title %}Adicionar Nova Receita{% endblock %}

{% block content %}
  <h2>Adicionar Nova Receita</h2>
  
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="nome">Nome da Receita:</label>
      <input type="text" id="nome" name="name" required>
    </div>
    
    <div>
      <label for="ingredientes">Ingredientes:</label>
      <textarea id="ingredientes" name="ingredients" rows="5" required></textarea>
    </div>
    
    <div>
      <label for="modo_de_preparo">Modo de Preparo:</label>
      <textarea id="modo_de_preparo" name="preparationmethod" rows="10" required></textarea>
    </div>
    
   <div>
  <label for="tempo_de_preparo">Tempo de Preparo (minutos):</label>
  <input type="number" id="tempo_de_preparo" name="preparationtime" required>
</div>
    
    <button type="submit">Salvar Receita</button>
  </form>
{% endblock %}