{% extends "../base.html" %}

{% load static %}

{% block title %}Resultados da Pesquisa{% endblock %}

{% block content %}
  <div class="container">
    <h2>Pesquisar Receitas</h2>

    <form action="{% url 'search_results' %}" method="get" class="search-form">
      <input type="text" name="q" placeholder="Buscar por nome da receita..." value="{{ query|default:'' }}">
      <button type="submit">Pesquisar</button>
    </form>
    <hr>

    {% if query %}
        <p>Resultados para: <strong>"{{ query }}"</strong></p>
    {% endif %}

    {% if recipes %}
         <h3>Receitas Encontradas:</h3>
      <div class="receitas-list">
        {% for recipes in recipes %}
            <div class="receita-card">
            <h4><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a></h4>
            <p>Tempo de Preparo: {{ recipe.preparationtime }} minutos</p>
            </div>
        {% endfor %}
      </div>
      

