{% extends "../base.html" %}

{% block title %}{{ receita.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ receita.name }}</h1>
        <p>Tempo de Preparo: {{ receita.preparationtime }} minutos</p>
        
        <h3>Ingredientes</h3>
        <p>{{ receita.ingredients }}</p>
        
        <h3>Modo de Preparo</h3>
        <p>{{ receita.preparationmethod }}</p>

         
        {% if receita.fotos %}
            <div class="foto-container">
                <img src="{{ receita.fotos.url }}" alt="{{ receita.name }}" class="receita-foto-detalhe">
            </div>
        {% else %}
            <p><em>Sem foto disponível</em></p>
        {% endif %}
        
        <hr>
        <div class="vote-section">
            <form action="{% url 'like_receita' receita.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="action" value="like">
                <button type="submit">Gostei ({{ receita.like }})</button>
            </form>
            
            <form action="{% url 'like_receita' receita.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="action" value="deslike">
                <button type="submit">Não Gostei ({{ receita.deslike }})</button>
            </form>
        </div>
    </div>
{% endblock %}